@import "tailwindcss";

body {
    background-color: #0f1115;
    /* Re-aligned to dark theme */
    color: #ffffff;
}

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}